.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;

}
.link{
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}
.navbar .logo {
  font-size: 1.8em;
  font-weight: 700;
  color: white;
  color: black;
}
.navigation {
  line-height: 30px;
}
.navabar .navigation ul {
  display: flex;
}
.nav-col {
  display: flex;
}
.row {
  list-style: none;
  font-weight: 540;
  color: white;
  font-size: 1.2em;
  margin-left: 1.2em;
  color: black;
  cursor: pointer;
  transition: all .5s;
}
.row:hover{
  scale: 1.1;
}
.social-media {
    display: inline-flex;
    color: white;
    color: black;
    margin-right: 1.5em;
    width: 5%;
    justify-content: space-around;
    transition: all .5s;
}
.social-media :nth-child(2):hover{
  color: #2596be;
}
.transparent{
  background: transparent;
}
