.main-container {
  width: 100%;
}
.resume {
  padding-top: 5em;
  display: grid;
  place-items: center;
  margin: 1em auto 0 auto;
  width: 100%;
}
.resume .top {
  text-align: center;
  width: 70%;
  margin: 0 auto 0 auto;
  padding: 0.5em;
  margin-bottom: 2.5em;
}
.resume .top h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 0.9em;
}
.resume .bottom-part {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  /* background: green; */
  width: 100%;
}
.resume .bottom-part .left {
  /* background: yellow; */
}
.resume .bottom-part .right h2 {
  padding: 0.5em;
  /* background: red; */
}
@media only screen and (max-width: 768px) {
  .resume .bottom-part {
    flex-direction: column;
  }
  .resume .top h1 {
    font-size: 2.5em;
  }
}
