.utility .container {
  border: 0.1px solid #c6c6c6;
  min-width: 50px;
  width: 90%;
  max-width: 550px;
  overflow: auto;
  min-height: 260px;
  border-radius: 7px;
  margin: 1em;
  margin-bottom: .1em;
  padding: 0.9em;
  flex-shrink: 2;
}
.utility .container .date {
  border: 0.2px solid #fff;
  border-radius: 12px;
  color: white;
  padding: 0.4em;
  font-size: 0.9em;
  font-weight: 700;
  width: 25%;
  text-align: center;
}
.utility .container .title,
.date,
.subtitle {
  margin-bottom: 0.6em;
}

.utility .container .title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.utility .container .subtitle {
  font-size: 0.9em;
  width: 100%;
  font-weight: 660;
  color: red;
}
.utility .container .content {
  font-weight: 500;
  word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  .utility .container .date {
    width: 35%;
    padding: 0.4em;
    font-size: 0.7em;
  }
  .utility .container .title {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.3em;
  }
  .utility .container .content {
    font-size: .9em;
  }
  .utility .container .subtitle {
    font-size: 0.8em;
  }
}
