.work-description{
    margin: 2em auto 0 auto;
    width:47%;
    min-width: 100px;
    padding: .5em;
    display: flex;
    align-items:flex-start;
}
.work-description .icon{
    box-shadow: 5px 5px 15px #8e9a9d;   
    margin-right: .8em;
    border-radius: 10px;
    color: green;
    /* font-size: 1.5em; */
}
.work-description .right{
    display: flex;
    flex-direction: column;
}
.work-description .right .title{
    font-weight: 670;
}
.work-description .right .description{
font-size: 1.1em;
color: #8e9a9d;
}